textarea {
	width : 100%;
}

input[type=submit]{
   margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
}
.bg-light-green {
    background-color: #90ee90;
}
.logo2 {
    width: 100px;
    animation: fadeIn 3s ease-in-out, spin 2s infinite;
}
.weatherIcon {
    width: 100px;
}
#map {
    width: 100%;
    height: 100vh;
}
#weather {
    background-color: #e0f7fa;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:10px;top:100px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}