<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

</head>

<body>

<div class="container-fluid" layout:fragment="content">
    <div class="row text-center">
        <div class="col-md-9 map-wrapper">
            <div id="map"></div>
            <div class="hAddr">
                <div>주소</div>
                <span id="centerAddr"></span>
            </div>
        </div>
        <div class="col-md-3" id="weather">
            <div id="weather1"></div>
            <div id="weather2"></div>
            <div id="weather3"></div>
        </div>
    </div>
</div>

</body>
</html>
